html {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #fafafa;
}

a{
    text-decoration: none;
    color: white;
}

header , footer , .right-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*****************************style diaporama **************************/
@keyframes animation1 {
            from {
                transform: translateX(-85px);
            }
            1% {
                transform: translateX(60px);
            }
            1.5% {
                transform: translateX(0px);
            }
            2% {
                transform: translateX(20px);
            }
            2.5% {
                transform: translateX(0px);
            }
            to {
                transform: translateX(0px);
            }
        }

.diaporama a , .diaporama  img{
  width: 100%;
  height: 100%;
  position: absolute;
  animation: "animation1" 10s ease-in infinite;
} 

.diaporama:hover {
 
  animation-play-state: paused;
}


/*********************************style footer*****************************/
footer{
    justify-content: flex-start;
    gap: 50%;
    height: 8%;
    width: 100%;
    background-color: #0076a8;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 12px;
}
.footer-menu{
  margin-right: 10%;
  width: 100%;
}

/************************************style menu*******************************/
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #0076a8;
    padding: 10px;
    border-radius: 12px;
    gap: 50px;
    position: sticky ;
    top: 5%;
    z-index: 2500;
}

nav ul , footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
nav a.active{
   color: #ff9324;
}
nav a:hover {
    border-bottom: 3px solid rgb(241, 183, 183);
}


.right-content{
    gap: 64px;
}

/************************************style header********************************/
.contacts{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contacts a{
    color: #0076a8;
}
.contacts img{
    width: 30px;
    height: 30px;
}

.connexion button{
    padding: 5px 10px;
    text-decoration: none;
    color: #0076a8; /* Adjust the color as needed */
    border: 1px solid #0076a8; /* Adjust the border color as needed */
    border-radius: 5px;
    background-color: #fff; /* Adjust the background color as needed */
}

#logo img{
    width: 50px;
    height: auto;
}

/*********************************style diaporama********************************/
.diaporama{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*************************style page acceuil***************************/
.marques-zone , .vehic-principals{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 3%;
}

/*************************style page marques***************************/

.marque {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 170px;
    height: 100px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1%;
    margin-top: 50px;
    overflow: hidden; 
    max-width: 100%;  
    max-height: 100%;
}

.marque span{
    font-size: large;
    font-weight: bold;
}
.marque img , .vehicule img {
    width: 100%;
    height: auto;
}

.marque-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    width: 100%;
}

.marque-details .marque {  
    width: 351px;
    height: 147px;
}
.vehicules{
    display: flex;
    flex-direction: column;
    align-items:start;
    gap: 100px;
}

.vehicule{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    width: 800px;
    height: 180px;
    box-shadow: 0 1px 3px rgba(36,39,44,.15);
    overflow: hidden;
    margin-bottom: 20px;
}

.vehicule .details{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.vehicule img , .principals-images img{
  width: 300px;
  height: auto;
  border-radius: 12px;
}

.vehic-principals{
    height: 210px;
    flex-wrap: nowrap;
    background-color: white;
    box-shadow: 0 1px 3px rgba(36,39,44,.15);
    gap: 30px;
    padding: 3%;
    overflow-y: hidden;
    overflow-x: scroll;
}

.principals-images{
    border: 0.5px solid grey;
}






/***********************style forms comparateur*****************************/
.compare-container{
    margin-bottom: 20px;
}
.compar-forms{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
  }
  .compar-forms img{
    width: 300px;
    height: auto;
    background-color: white;
  }

  .compar-forms .card{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #0076a8;
    padding: 30px;
    background-color: white;
  }
  
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .compar-forms+button{
    padding: 5px 10px;
    text-decoration: none;
    font-size: 20px;
    color: #fff; 
    border: 1px solid #0076a8; 
    border-radius: 5px;
    background-color: #0076a8; 
    margin-top: 10px;
    margin-left:90% ;
  }

  /*****************style resultat comparaison********************/

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/*******************style page contact *****************************/
/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.container {
  max-width: 1100px;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  margin-bottom: 50px;
}
.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details {
  margin: 14px;
  text-align: center;
}
.content .left-side .details i {
  font-size: 30px;
  color:#0076a8;
  margin-bottom: 10px;
}
.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}

.container .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color:#0076a8;
}
.right-side .input-box {
  height: 55px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  padding-top: 6px;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background:#0076a8;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover {
  background:#0076a8
}

/*************************style page news***************************/
.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:stretch;
  gap: 20px;
  text-align: center;
  padding: 20px;
}


.news-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  width: 400px; 
  height: 400px; 
  text-align: left;
  background-color: #fff;
  text-decoration: none; 
  color: inherit; 
  display: block;
}

.news-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.news-card img {
  max-width: 100%;
  height: 200px;
  object-fit: cover; 
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.news-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.news-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-card span {
  display: block;
  font-size: 14px;
  color: #888;
}

.article {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.article h1 {
  color: #333;
}

.article p {
  line-height: 1.6;
  color: #666;
}

.article strong {
  color: #000;
}

.content {
  margin-top: 20px;
}

.article img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 8px;
}

