html {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #fafafa;
}

a{
    text-decoration: none;
    color: white;
}

header , footer , .right-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*********************************style footer*****************************/
footer{
    justify-content: flex-start;
    gap: 50%;
    height: 8%;
    width: 100%;
    background-color: #0076a8;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 12px;
}
.footer-menu{
  margin-right: 10%;
  width: 100%;
}

/************************************style menu*******************************/
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #0076a8;
    padding: 10px;
    border-radius: 12px;
    gap: 50px;
    position: sticky ;
    top: 5%;
    z-index: 2500;
}

nav ul , footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
nav a.active{
   color: #ff9324;
}
nav a:hover {
    border-bottom: 3px solid rgb(241, 183, 183);
}


.right-content{
    gap: 64px;
}

/************************************style header********************************/
.contacts{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contacts a{
    color: #0076a8;
}
.contacts img{
    width: 30px;
    height: 30px;
}

.connexion button{
    padding: 5px 10px;
    text-decoration: none;
    color: #0076a8; /* Adjust the color as needed */
    border: 1px solid #0076a8; /* Adjust the border color as needed */
    border-radius: 5px;
    background-color: #fff; /* Adjust the background color as needed */
}

#logo img{
    width: 50px;
    height: auto;
}

/*********************************style diaporama********************************/
.diaporama{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*************************style page acceuil***************************/
.marques-zone , .vehic-principals{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 3%;
}

/*************************style page marques***************************/

.marque {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 170px;
    height: 100px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1%;
    margin-top: 50px;
}

.marque span{
    font-size: large;
    font-weight: bold;
}
.marque img , .vehicule img {
    width: 100%;
    height: auto;
    max-width: fit-content;
    max-height: fit-content;
}

.marque-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    width: 100%;
}

.marque-details .marque {  
    width: 351px;
    height: 147px;
}
.vehicules{
    display: flex;
    flex-direction: column;
    align-items:start;
    gap: 100px;
}

.vehicule{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    width: 800px;
    height: 180px;
    box-shadow: 0 1px 3px rgba(36,39,44,.15);
    overflow: hidden;
    margin-bottom: 20px;
}

.vehicule .details{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.vehicule img , .principals-images img{
  width: 300px;
  height: auto;
  border-radius: 12px;
}

.vehic-principals{
    height: 210px;
    flex-wrap: nowrap;
    background-color: white;
    box-shadow: 0 1px 3px rgba(36,39,44,.15);
    gap: 30px;
    padding: 3%;
}

.principals-images{
    border: 0.5px solid grey;
}


/************************Style page details vehicule*************************/
.infos-vehic{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 1%;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(36,39,44,.15);
}

.infos-vehic a {
justify-self:flex-end;
align-self: flex-end;
background-color:#ff9324;
color: #fafafa;
border: 1px solid #ff9324;
border-radius: 12px;
padding: 10px;
}

.infos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-left: 2%;
}

/****************style de la note ********************/

.note{
    display: flex;
    align-items:flex-end;
    gap: 5px;
}

.note span{
    font-size: 40px;
    font-weight: bold;
}
.note p{
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}

.note img{
   align-self: center;
   width: 35px;
   height: auto;
}
/********************style des caracteristiques **************************/
.key-caracs{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  border-radius: 12px;
}

.carac{
    color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 5px;
}
.carac p {
    padding: 0px;
    margin: 0px;
    font-size: small;
}

.carac p:nth-child(2){
    font-weight: bold;
}

.carac img{
width: 40px;
height: auto;
}


.image img{
    width: 500px;
    height: auto;
}



