body {
    margin: 0;
    font-family: "Lato", sans-serif;
    display: grid;
    grid-template-columns: 200px 1fr; /* 1fr means the remaining available space */
    grid-template-rows: auto; /* Allow rows to adjust based on content */
    grid-template-areas: "sidebar mainContent";
  }

  a{
    text-decoration: none;
  }

  /****************style formulaire *********************/
  form , .input{
    display: flex;
    flex-direction: column;
    gap: 10px;  
    justify-content: space-between;
    align-items: flex-start;
  }

  input[type=submit]{
    align-self: flex-end;
    justify-self: flex-end;
  }

  input , select{
    padding-left: 10px;
    border-radius: 8px;
    height: 30px;
    border: 1px solid #888;
    font-size: 18px;
  }

  input:focus{
    border: 1px solid #0076A8;
  }

  button , .button , input[type=submit] {
    background-color: #0076A8;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    padding: 10px;
}

.button{
  border: 1px solid #0076A8;
}



  /**********style logo ************/

  #logo{
    margin-top: 5%;
    margin-left: 25%;
    margin-bottom: 80px;
  }
  #logo img{
    width: 80px;
    height: auto;
}
  
  /*********************style sidebar ********************/
  .sidebar {
    grid-area: sidebar;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: #343434;
    padding: 16px;
    
  }
   
  .sidebar a.active {
    background-color: #0076A8;
    color: white;
  }
  
  .sidebar a:hover:not(.active) , .dropdown-btn:hover{
    background-color: #0076A8;
    color: white;
  }
  .sidebar>a:last-child{
    margin-top: 100px;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  .dropdown-btn {
    padding: 16px;
    text-decoration: none;
    font-size: 15px;
    color: #343434;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
 

  .dropdown-container {
    display: none;
    background-color: #f1f1f1;
    padding-left: 8px;
  }

  .dropdown-container a:hover:not(.active) {
    color: #343434;
    background-color: #AFDCEE;
  } 

.fa-caret-down {
    float: right;
    padding-right: 8px;
  }


  /*****************style main content ***************************/
  #mainContent{
    grid-area: mainContent;
    padding: 5%;
  }
  /*****************style Breadcrumb pagination ******************/

  ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #0275d8;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  /****************style page principale***************************/
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  gap: 100px;
}

.col{
  flex: 1;
  position: relative;
  margin: 0 0 10px;
  padding: 20px;
  width: 300px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(36,39,44,.15);
}

.col a{
  width: 300px;
  height: auto;
  margin: auto;
  display: block;
  position: relative;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  color: #0076A8;
}
.col img {
  width: 100%;
  height: auto;
  max-width: fit-content;
  max-height: fit-content;
}
/*************************style modal form*********************************/

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 50px;
  border: 1px solid #888;
  width: 45%;
  height: 60%;
  overflow-y: auto;
}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/****************style datatable ***************************/
.vehic-table {
  margin-top: 20px;
}

#myTable th,
#myTable td {
  text-align: center;
}

#myTable th {
  background-color: #0076a8; 
  color: #fff;
}

#myTable tbody tr:hover {
  background-color: #f8f9fa;
}

.btn {
  padding: 8px 16px;
  margin: 2px;
}